header {
    height: 4.938rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-container {
    padding: 30px 0 30px 0;
}

.header-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.818rem;
    height: 1.188rem;
}

.header-logo-img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
}

nav {
    height: 100%;

    padding-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-ul-nav {
    gap: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-nav {
    position: relative;
    padding-top: 20px;
}

/* Thoses ones will be problematic for the responsive design, so, out of the nest  */
.link-nav:hover {
    color: var(--main-color);
}

.link-nav::before {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0%;
    left: 0%;
    content: "";
    background: var(--main-color);
    opacity: 0;
    pointer-events: none;
}

.link-nav:hover::before {
    opacity: 1;
}